# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
logs/

# LDUTC project folder (not part of this project)
LDUTC/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env
pip-wheel-metadata/
.python-version

# PyInstaller
*.manifest
*.spec
# But track our project's PyInstaller spec file
!wutc.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json

# Pyre type checker
.pyre/

# profiling
.prof

# VS Code
.vscode/

# Logs
*.log

# Dash specific caches
celerybeat-schedule
__dash_server__/
.dash-cache/

# OS
.DS_Store
Thumbs.db
